<template>
    <div class="ComponentRenderer">
        <bbComponentManager>
            <component v-bind:is="component">
                <div v-if="nestedComponents && nestedComponents.length > 0">
                    <bbNestedComponentRenderer v-bind:nestedComponents="nestedComponents">
                    </bbNestedComponentRenderer>
                </div>
                <div v-else>

                </div>

            </component>
        </bbComponentManager>
    </div>
</template>
<script>
import bbNestedComponentRenderer from '@/components/bbComponents/core/bbNestedComponentRenderer/bbNestedComponentRenderer';

import bbRow from '@/components/bbComponents/common/bbRow/bbRow.vue';

import bbNavBarTop from '@/components/bbComponents/navigation/bbNavBar/bbNavBar.vue';
import bbMenuToggler from '@/components/bbComponents/common/bbMenuToggler/bbMenuToggler.vue';
import bbComponentManager from '@/components/bbComponents/core/bbComponentManager/bbComponentManager.vue';

export default {
    name: 'bbComponentRenderer',
    props: [
        'component',
        'nestedComponents'
    ],
    components: {
        bbNestedComponentRenderer,
        bbRow,
        bbNavBarTop,
        bbMenuToggler,
        bbComponentManager
    }
}
</script>
<style lang="scss" scoped>
.ComponentRenderer {

}
</style>