<template>
    <div class="bbComponentManager">
        <div class="bbComponentManager_Bubble">
        </div>
        <slot></slot>
    </div>
</template>
<script>
export default {
    name: 'bbComponentManager',
}
</script>
<style lang="scss" scoped>
.bbComponentManager {

}

.bbComponentManager {
    position: relative;

    .bbComponentManager_Bubble {
        display: none;
    }

    &:hover {
        .bbComponentManager_Bubble {
            display: block;
            position: absolute;
            z-index: 100;
            width: 5rem;
            height: 1.5rem;
            border-radius: 0.65rem;
            border: 2px solid #1fa779;
            background: #24dd71;
            box-shadow: 2px 2px 2px #181818b9;
            margin-top: -1rem;
            margin-left: 0.25rem;
        }
    }
}
</style>