<template>
    <bbDrawer ref="bbDrawerLeft" :side="side"/>
</template>
<script>
import bbDrawer from '@/components/bbComponents/navigation/bbDrawer/bbDrawer.vue';
export default {
    name: 'bbwdDrawer',
    components: {
        bbDrawer,
    },
    props: [
        'side',
    ],
    methods: {
        menuToggled(){
            this.$refs.bbDrawerLeft.toggle()
        }
    }
}
</script>
<style lang="scss" scoped>
@import '@/components/bbComponents/navigation/bbDrawer/bbDrawer.scss';
.bbDrawer{
    background: purple;
}
</style>