<template>
    <div v-if="nestedComponents"  class="NestedComponentRenderer">
        <div v-for="(nestedComponent, nestedComponentIndex, nestedComponentKey) in nestedComponents" v-bind:key="nestedComponentKey">
            <!-- <p>com</p> -->
            <pre>{{nestedComponent}}</pre>
            <!-- <bbComponentActor v-bind:component="nestedComponent.component" /> -->
            <bbComponentRenderer v-bind:component="nestedComponent.component" v-bind:nestedComponents="nestedComponent.nestedComponents || []">
            </bbComponentRenderer>
        </div>
    </div>
</template>
<script>
// import bbComponentActor from '@/components/bbComponents/core/bbComponentActor/bbComponentActor.vue';
import bbComponentRenderer from '@/components/bbComponents/core/bbComponentRenderer/bbComponentRenderer.vue';
export default {
    name: 'bbNestedComponentRenderer',
    props: [
        'nestedComponents'
    ],
    components: {
        bbComponentRenderer,
        // bbComponentActor
    }
}
</script>
<style lang="scss" scoped>
.NestedComponentRenderer {

}
</style>