<template>
    <div class="bbRow">

    </div>
</template>
<script>
export default {
    name: 'bbRow',
    data () {
        return {

        }
    }
}
</script>
<style lang="scss" scoped>
$bbRowWidth: 100%;

.bbRow {
    float: left;
    width: calc($bbRowWidth - 2px);
    height: 20rem;
    background: #a1a1a1;
}
</style>