<template>
    <div class="ProjectApp">
        <div class="ProjectAppPreview">
            <template v-for="(globalElement, globalElementIndex) in application_scaffold.global" v-bind:key="globalElementIndex">
                <bbComponentRenderer :component="globalElement.component" :nestedComponents="globalElement.nestedComponents || false">
                </bbComponentRenderer>
            </template>
            <bbRouterContainer>
                <!-- <template v-for="(bodyElement, bodyElementIndex) in application_scaffold.body" v-bind:key="bodyElementIndex">
                    <bbComponentRenderer :component="bodyElement.component" :nestedComponents="bodyElement.nestedComponents || false">
                    </bbComponentRenderer>
                </template> -->
            </bbRouterContainer>
        </div>
    </div>
</template>
<script>
import bbComponentRenderer from '@/components/bbComponents/core/bbComponentRenderer/bbComponentRenderer.vue'
import bbRouterContainer from '@/components/bbComponents/core/bbRouterContainer/bbRouterContainer.vue'


export default {
    name: 'projectApp',
    components: {
        bbComponentRenderer,
        bbRouterContainer
    },
    data () {
        return {
            application_scaffold: {
                global: [
                    {
                        id: 1,
                        component: 'bbNavBarTop',
                        nestedComponents: [
                            {
                                id: 2,
                                component: 'bbMenuToggler',
                            },
                            {
                                id: 2,
                                component: 'bbMenuToggler',
                            }
                        ]
                    },
                ],
                body: [
                    {
                        id: 1,
                        component: 'bbRow',
                        nestedComponents: [
                        ]
                    }
                ]
            }
        }
    }
}
</script>
<style lang="scss" scoped>
.ProjectApp {
    float: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    .ProjectAppPreview {
        float: left;
        border-radius: .45rem;
        width: calc(90% - 8px);
        height: 90%;
        background-color: #e7e7e7;
        border: 4px solid #c2c2c2;
    }
}
</style>