<template>
    <div class="Project">
        <div class="ProjectAppContainer">
            <projectApp />
        </div>
    </div>
</template>
<script>
import projectApp from './projectApp/projectApp';

export default {
    name: 'project',
    components: {
        projectApp
    }
}
</script>
<style lang="scss" scoped>
.Project {
    float: left;
    width: 100%;
    height: 100%;
    background: royalblue;

    .ProjectAppContainer {
        display: flex;
        width: 100%;
        height: 100%;
    }
}
</style>