<template>
    <div class="bbwdNavBar">
        <bbNavBar>
            <div class="bbwdNavBar_menuTriggerColumn">
                <bbMenuToggler @menuToggled="menuToggled" />
            </div>
            <div class="bbwdNavBar_contentColumn">
            </div>
            <div class="bbwdNavBar_contentColumn">
            </div>
            <div class="bbwdNavBar_contentColumn">
            </div>
        </bbNavBar>
    </div>
</template>
<script>
import bbNavBar from '@/components/bbComponents/navigation/bbNavBar/bbNavBar.vue'
import bbMenuToggler from '@/components/bbComponents/common/bbMenuToggler/bbMenuToggler.vue'
export default {
  name: 'bbwdNavBar',
  components: { 
    bbNavBar,
    bbMenuToggler
  },
  methods: {
    menuToggled(status){
      this.$emit('menuToggled', status);
    }
  }
}
</script>
<style lang="scss" scoped>
.bbwdNavBar {
    .bbNavBar {

    }
}

.bbwdNavBar_menuTriggerColumn {
    float: left;
    grid-column: span 1;
    background-color: green;

}

.bbwdNavBar_contentColumn {
    float: left;
    width: calc(100% - 2px);
    height: calc(3rem - 2px);
    border: 1px solid red;
    background: rgba(255, 0, 0, 0.432);
    grid-column: span 4;
}
</style>