<template>
    <div class="RouterContainer" v-bind:class="[openedClassifier]">
        <div class="RouterHeader">
            <div class="RouterHeaderText">
            </div>
        </div>
        <slot></slot>
    </div>
</template>
<script>

export default {
    name: 'bbRouterContainer',
    data () {
        return {
            opened: false,
        }
    },
    methods: {
        menuToggled(opened){
            this.opened = opened
        }
    },
    computed: {
        openedClassifier(){
            return this.opened ? 'opened' : '';
        }
    }
}
</script>
<style lang="scss" scoped>
.RouterContainer {
  float: left;
  width: 100%;
  height: calc(100% - 3rem);
  display: flex;
  flex-direction: column;
  margin-top: 3rem;

  &.opened {
      width: 80%;
  }

  .RouterHeader {
      float: left;
      width: 100%;
  }
}
</style>