.bbDrawer {
    height: 100%;
    background-color: orange;

    &.opened {
        width: 20%;
    }

    &.left {
        float: left;

    }

    &.right {
        float: right;
        right: 0;
    }

}