<template>
    <div class="bbDrawer" v-bind:class="[sideClassifier, openedClassifier]">
    </div>
</template>
<script>
export default {
    name: 'bbDrawer',
    props: [
        'side',
    ],
    data () {
        return {
            opened: false
        }
    },
    methods: {
        toggle (){
            this.opened = !this.opened;
        }
    },
    computed: {
        sideClassifier(){
            return this.side
        },
        openedClassifier(){
            return this.opened ? 'opened' : '';
        }
    }
}
</script>
<style lang="scss" scoped>
@import './bbDrawer.scss';
</style>