<template>
    <div class="Tabs">
        <ul class="TabsList">
            <li class="TabsListItem">
                <span>Tab 1</span>
            </li>
            <li class="TabsListItem">
                <span>Tab 2</span>
            </li>
            <li class="TabsListItem">
                <span>Tab 3</span>
            </li>
        </ul>
    </div>
</template>
<script>
export default {
    name: 'bbTabs'
}
</script>
<style lang="scss" scoped>
.Tabs {
    float: right;
    width: 100%;
    height: 2.5rem;
    background-color: #1f1f1f;

    ul.TabsList {
        float: right;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        li.TabsListItem {
            width: 10%;
            height: 2rem;
            margin-top: .5rem;
            line-height: 2rem;
            padding-left: .5rem;
            padding-right: .5rem;
            background-color: #1d2d3f;
            border: 1px solid #596068;
            color: #eaeaea;
            border-radius: 1rem 1rem 0 0;
        }
    }
}
</style>