<template>
    <div class="bbMenuToggler" v-on:click="toggleMenu">
        <span class="material-icons">menu</span>
    </div>
</template>
<script>
export default {
    name: 'bbMenuToggler',
    data () {
        return {
            opened: false,
        }
    },
    methods: {
        toggleMenu(){
            this.opened = !this.opened;
            this.$emit('menuToggled', this.opened);
        }
    }
}
</script>
<style lang="scss" scoped>
.bbMenuToggler {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    color: #fefefe;
    span.material-icons {
        height: 3rem;
        line-height: 3rem;
    }
}
</style>