<template>
  <bbwdNavBar @menuToggled="menuToggled" />
  <bbwdDrawer ref="mainMenuDrawer" side="left" />

  <bbRouterContainer ref="mainRouterContainer" >
    <bbTabs>
    </bbTabs>
    <router-view/>
  </bbRouterContainer>

</template>
<script>
import bbwdNavBar from '@/components/bbwdComponents/navigation/bbwdNavBar/bbwdNavBar.vue';
import bbwdDrawer from '@/components/bbwdComponents/navigation/bbwdDrawer/bbwdDrawer.vue';


import bbRouterContainer from '@/components/bbComponents/core/bbRouterContainer/bbRouterContainer.vue';
import bbTabs from '@/components/bbComponents/common/bbTabs/bbTabs.vue';

export default {
  name: 'BentoBuilder',
  components: {
    bbwdNavBar,
    bbRouterContainer,
    bbwdDrawer,
    bbTabs
  },
  data () {
    return {
    }
  },
  methods: {
    menuToggled(opened){
      this.$refs.mainMenuDrawer.menuToggled()
      this.$refs.mainRouterContainer.menuToggled(opened)
    }
  }
}
</script>
<style lang="scss">
html,
body {
  float: left;
  height: 100%;
  width: 100%;
}

pre {
  
}

body {
  margin: 0;
}

#app {
  float: left;
  width: 100%;
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}


</style>
