<template>
    <div class="NavBar">
        <slot></slot>
    </div>
</template>
<script>
export default {
    name: 'NavBar',
    props: [

    ]
}
</script>
<style lang="scss" scoped>
.NavBar {
    position: absolute;
    float: left;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 3rem;
    background-color: #323232;

    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-auto-flow: column;
    column-gap: 1rem;
    
}
</style>