<template>
    <div class="bbCompAct">
        <component :is="component" />
    </div>
</template>
<script>
import bbMenuToggler from '@/components/bbComponents/common/bbMenuToggler/bbMenuToggler.vue';

export default {
    name: 'bbComponentActor',
    props:[
        'component'
    ],
    components: {
        bbMenuToggler
    }
}
</script>
<style lang="scss" scoped>
.bbCompAct {
    color: #fefefe;
}
</style>